.front-image {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  )
}

.hero-container {
    /* background: src('/health_home.jpg') center center/cover no-repeat; */
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    object-fit: contain;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 1000;
    /* display: flex; */
    font-size: 35px;
  }


  .centered2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 1000;
    font-size: 35px;
    margin-top: 60px;
    /* display: flex; */
  }

  @media screen and (max-width: 1075px){
    .centered {
        font-size: 30px;
    }

    .centered2 {
        font-size: 30px;
    }
  }

  @media screen and (max-width: 1025px){
    .centered {
        font-size: 30px;
    }

    .centered2 {
        margin-top: 70px;
        font-size: 30px;
    }
  }

  @media screen and (max-height: 601px){
    .centered {
        font-size: 30px;
    }

    .centered2 {
        margin-top: 80px;
        font-size: 30px;
    }
  }

  @media screen and (max-width: 885px){
    .centered {
        font-size: 28px;
    }

    .centered2 {
        font-size: 28px;
    }
  }

  @media screen and (max-width: 796px){
    .centered {
        font-size: 25px;
    }

    .centered2 {
        margin-top: 40px;
        font-size: 25px;
    }
  }

  @media screen and (max-width: 769px){
    .centered {
        font-size: 35px;
    }

    .centered2 {
        margin-top: 60px;
        font-size: 35px;
    }
  }

  @media screen and (max-width: 692px){
    .centered {
        font-size: 23px;
    }

    .centered2 {
        margin-top: 20px;
        font-size: 23px;
    }
  }

  @media screen and (max-width: 654px){
    .centered {
        margin-top: 50px;
        font-size: 23px;
    }

    .centered2 {
        margin-top: 70px;
        font-size: 23px;
    }
  }

  @media screen and (max-width: 412px){
    .centered {
        margin-top: 10px;
        font-size: 24px;
    }

    .centered2 {
        margin-top: 100px;
        font-size: 24px;
    }
  }

  @media screen and (max-width: 376px){
    .centered {
        margin-top: 10px;
        font-size: 22px;
    }

    .centered2 {
        margin-top: 100px;
        font-size: 22px;
    }
  }

  @media screen and (max-width: 360px){
    .centered {
        margin-top: 20px;
        font-size: 20px;
    }

    .centered2 {
        margin-top: 70px;
        font-size: 20px;
    }
  }

  @media screen and (max-width: 320px){
    .centered {
        margin-top: 20px;
        font-size: 19px;
    }

    .centered2 {
        margin-top: 90px;
        font-size: 19px;
    }
  }

  .para {
    left:'20px';
    margin-right:'20px';
    text-align:'justify';
    font-size: 20px;
  }